<div class="container-fluid" style="font-size:2em">
    <div class="row pt-2">
        <div class="col-12">
            <input type="text" [(ngModel)]="addPlayerName" class="form-control" id="playerName" name="playerName">
        </div>
    </div>
    <div class="row pt-2">
        <div class="col-12">
            <button id="addPlayer" type="button" class="btn btn-primary btn-block" (click)="onAddPlayer()">Add Player</button>
        </div>
    </div>

    <div id="accordion">
        <div class="card" *ngFor="let player of players">

            <div class="card-header">
                <div class="flex-row d-flex align-items-end">
                    <div class="col-8 pl-0 pr-0 ml-0 mr-0">
                        <a class="card-link" data-toggle="collapse" href="#collapseOne_add_scores{{player.hashName}}">
                            <button class="btn btn-secondary" data-toggle="modal" [attr.data-target]="'#' + confirmRemovePlayerId + player.hashName"><i
                                    class="fa fa-remove"></i></button>
                            <confirm [dataTarget]="confirmRemovePlayerId + player.hashName" [header]="confirmRemovePlayerHeader"
                                [body]="confirmRemovePlayerBody" [data]="player" (onConfirm)="onRemovePlayer($event)"></confirm>
                            {{player.name}}                            
                        </a>
                    </div>
                    <div class="col-4 pl-0 pr-0 ml-0 mr-0">
                        <a data-toggle="collapse" class="card-link btn btn-primary btn-block" href="#collapseOne_history{{player.hashName}}">
                            {{player.score}}
                        </a>
                    </div>
                </div>
            </div>

            <div id="collapseOne_add_scores{{player.hashName}}" class="collapse" data-parent="#accordion">
                <div class="flex-row d-flex align-items-end">
                    <div class="col-6 p-2">
                        <input type="text" [(ngModel)]="player.addScore" class="form-control" id="playerName" name="playerScores">
                    </div>
                    <div class="col-6 p-2">
                        <a id="addScores" type="button" class="btn btn-outline-primary btn-block" data-toggle="collapse" href="#collapseOne{{player.hashName}}"
                            (click)="onAddScores(player)">
                            Add Scores
                        </a>
                    </div>
                </div>
            </div>

            <div id="collapseOne_history{{player.hashName}}" class="collapse" data-parent="#accordion">
                <div class="list-group" style="font-size:0.6em">
                    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start" *ngFor="let item of player.playerHistory; let i = index;">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">Turn {{i + 1}}</h5>
                            <span class="badge badge-light">{{item.previousScore}} + {{item.currentScore}} = {{item.totalScore}}</span>
                        </div>
                    </a>
                </div>
            </div>

        </div>
    </div>


    <div class="clear"></div>

    <confirm [dataTarget]="confirmClearScoresId" [header]="confirmClearScoresHeader" [body]="confirmClearScoresBody"
        [data]="player" (onConfirm)="onClearScores($event)"></confirm>
    <confirm [dataTarget]="confirmClearPlayersId" [header]="confirmClearPlayersHeader" [body]="confirmClearPlayersBody"
        [data]="player" (onConfirm)="onNewGame($event)"></confirm>

    <nav class="navbar fixed-bottom navbar-light bg-light" *ngIf="players.length">
        <button class="btn btn-primary mr-2" data-toggle="modal" [attr.data-target]="'#' + confirmClearScoresId">Clear
            Scores</button>
        <button class="btn btn-primary" data-toggle="modal" [attr.data-target]="'#' + confirmClearPlayersId">New Game</button>
    </nav>
</div>